<div class="container">
  <section class="resume__block">
    <h1 class="contact-info__header">Artem Krylov</h1>
    <h3 class="contact-info__sub-header">FrontEnd / FullStack Developer</h3>

    <button
      type="button"
      class="darkModeToggler"
      onclick="toggleDarkMode(event)"
    >
      <i
        class="fa-solid fa-moon fa-xl"
        id="moonIconJS"
        style="color: #26c281"
      ></i>
      <i
        class="fa-solid fa-sun fa-lg visually-hidden"
        id="sunIconJS"
        style="color: #26c281"
      ></i>
      <span>Dark mode</span>
    </button>

    <div class="contact_info_container fh">
      <ul class="contact-info__block">
        <li>
          <div aria-label="birth date" class="contact-info__item">
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-regular fa-calendar contact-info__item-icon"></i>
            </div>
            <p>22.09.1994</p>
          </div>
        </li>
        <li>
          <a
            aria-label="my home town"
            href="https://goo.gl/maps/XcSp77c1xqCEtS1TA"
            rel="location"
            class="contact-info__item"
            target="_blank"
          >
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-solid fa-location-dot contact-info__item-icon"></i>
            </div>
            <p>Zaporizhzhia, Ukraine</p>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/krylov-artem/"
            rel="linkedin profile"
            aria-label="my work accaunt"
            class="contact-info__item"
            target="_blank"
          >
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-brands fa-linkedin contact-info__item-icon"></i>
            </div>
            <p>krylov-artem</p>
          </a>
        </li>
      </ul>

      <div class="contact-info__block contact-info__block--center">
        <img
          class="contact-info__avatar"
          src="assets/data/img/avatar.jpg"
          alt="Avatar"
        />
      </div>

      <ul class="contact-info__block">
        <li>
          <a
            href="mailto:krylovartem1994@gmail.com"
            rel="email"
            aria-label="message me on my work"
            class="contact-info__item"
            target="_blank"
          >
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-solid fa-envelope contact-info__item-icon"></i>
            </div>
            <p>krylovartem1994@gmail.com</p>
          </a>
        </li>
        <li>
          <a
            href="tel:+380686545462"
            rel="contact phone"
            class="contact-info__item"
            aria-label=""
            target="_blank"
          >
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-solid fa-mobile contact-info__item-icon"></i>
            </div>
            <p>+38 068 654 54 62</p>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/_artem.krylov_/"
            aria-label="fell free to contact me "
            rel="instagram link"
            class="contact-info__item"
            target="_blank"
          >
            <div class="contact-info__item-icon-wrapper">
              <i class="fa-brands fa-instagram contact-info__item-icon"></i>
            </div>
            <p>_artem.krylov_</p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
