<div class="container">
  <div class="resume__block">
    <div class="main-info fh">
      <section class="experiences">
        <h3 class="experiences__header">Experience</h3>
        <ul class="experiences__companyList">
          <li class="experiences__company">
            <div class="experiences__company-header">
              <span class="experiences__company-header-durability"
                >since May 2023</span
              >
              <h3 class="experiences__company-header-name">IT_Volunteers</h3>
            </div>

            <div class="experiences__company-project">
              <span class="experiences__company-project-role"
                >FrontEnd Developer</span
              >
              <h3 class="experiences__company-project-name">
                IT_Volunteers official site
              </h3>
              <ul class="experiences__company-project-responsibilities">
                <li>still in progress</li>
              </ul>
            </div>
          </li>
          <li class="experiences__company">
            <div class="experiences__company-header">
              <span class="experiences__company-header-durability"
                >September 2022 - May 2023</span
              >
              <h3 class="experiences__company-header-name">
                GoIT Team Projects
              </h3>
            </div>

            <div class="experiences__company-project">
              <span class="experiences__company-project-role"
                >FrontEnd Developer</span
              >
              <ul class="experiences__projectList">
                <li>
                  <h3 class="experiences__company-project-name">
                    ⌚ Goose truck
                  </h3>
                  <ul class="experiences__company-project-responsibilities">
                    <li>
                      Team project (my role - developer). GooseTrack is an
                      all-in-one productivity tool that helps you stay on top of
                      your tasks, events, and deadlines. Say goodbye to
                      scattered to-do lists and hello to streamlined
                      productivity with GooseTrack.
                    </li>
                    <li>
                      My contribution: developed redux, authSlice, tasksSlice,
                      state, API requests file, dark mode switcher, components
                      chosenDay and chosenMonth.
                    </li>
                    <li>
                      👨🏻‍💻 <b>Technology stack: </b>React, Material UI, Redux,
                      Redux Toolkit, redux async thunk, redux-persist,
                      react-router-dom, private routes, Javascript, ES6+, async
                      Javascript (async-await), REST APIs (using API -
                      https://goose-tracker-backend.p.goit.global/api-docs/),
                      DOM, localstorage, pagination, SCSS, responsive layout,
                      responsive and lazy loaded images, mobile-first approach,
                      HTML5, BEM methodology, Webpack, Figma
                    </li>
                    <li>
                      <a
                        href="https://svitlanahonchar.github.io/Goose-Track_Work-Smart/"
                        ><b>Link</b></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/SvitlanaHonchar/Goose-Track_Work-Smart"
                        ><b>GitHub repository:</b>
                        https://github.com/SvitlanaHonchar/Goose-Track_Work-Smart</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <h3 class="experiences__company-project-name">
                    🍧 Ice cream site
                  </h3>
                  <ul class="experiences__company-project-responsibilities">
                    <li>
                      Team project (my role - developer). Ice cream site project
                      using Figma draft.
                    </li>
                    <li>
                      👨🏻‍💻 <b>Technology stack: </b>SCSS, responsive layout,
                      responsive and lazy loaded images, mobile-first approach,
                      HTML5, BEM methodology, Parcel, Figma
                    </li>
                    <li>
                      <a
                        href="https://annakilchytska.github.io/team-work-smart-not-hard/"
                        ><b>Link</b></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/AnnaKilchytska/team-work-smart-not-hard"
                        ><b>GitHub repository:</b>
                        https://github.com/AnnaKilchytska/team-work-smart-not-hard</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="experiences__company">
            <div class="experiences__company-header">
              <span class="experiences__company-header-durability"
                >since 2022</span
              >
              <h3 class="experiences__company-header-name">Pet projects</h3>
            </div>

            <div class="experiences__company-project">
              <span class="experiences__company-project-role"
                >FrontEnd Developer</span
              >
              <ul class="experiences__projectList">
                <li>
                  <h3 class="experiences__company-project-name">
                    🍿 Movie Market
                  </h3>
                  <ul class="experiences__company-project-responsibilities">
                    <li>
                      Personal project. Movie search site (using TMDB API) with
                      aesthetic design, registration, and movie saving to
                      firebase.
                    </li>
                    <li>
                      👨🏻‍💻 <b>Technology stack: </b>React, React Hooks,
                      react-router-dom, react-pagination, styled-components,
                      REST APIs, firebase-auth, firestore, SCSS, responsive
                      layout, responsive and lazy loaded images, mobile-first
                      approach, BEM-methodology
                    </li>
                    <li>
                      <a href="https://artemkrylov.github.io/movie_market/"
                        ><b>Link</b></a
                      >
                    </li>
                    <li>
                      <a href="https://github.com/ArtemKrylov/movie_market"
                        ><b>GitHub repository:</b>
                        https://github.com/ArtemKrylov/movie_market</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <h3 class="experiences__company-project-name">
                    📖 Immersive Phonebook
                  </h3>
                  <ul class="experiences__company-project-responsibilities">
                    <li>
                      Personal project. Phonebook for adding/deleting/storing
                      contacts with a responsive mobile-first layout and vivid
                      design.
                    </li>
                    <li>
                      👨🏻‍💻 <b>Technology stack: </b>Typescript, Chakra UI, Redux,
                      Redux Toolkit, redux-thunk, React, React Hooks,
                      react-router-dom, private routes, styled-components, REST
                      APIs (using mockapi.io), SCSS, responsive layout,
                      responsive and lazy loaded images, mobile-first approach,
                      BEM-methodology
                    </li>
                    <li>
                      <a
                        href="https://artemkrylov.github.io/immersive-phonebook/"
                        ><b>Link</b></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/ArtemKrylov/immersive-phonebook"
                        ><b>GitHub repository:</b>
                        https://github.com/ArtemKrylov/immersive-phonebook</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <div class="additional-info fv">
        <div class="additional-info fv">
          <section class="additional-info__education">
            <h3 class="additional-info__education-header">Education</h3>
            <ul class="additional-info__educationList">
              <li class="additional-info__education-university">
                <span class="additional-info__education-university-durability"
                  >September 2022 - May 2023</span
                >
                <h3 class="additional-info__education-university-speciality">
                  FrontEnd Development Course
                </h3>
                <p class="additional-info__education-university-name">
                  GoIT - start your career in IT
                </p>
              </li>
              <li class="additional-info__education-university">
                <span class="additional-info__education-university-durability"
                  >2011 - 2017</span
                >
                <h3 class="additional-info__education-university-speciality">
                  Medicine
                </h3>
                <p class="additional-info__education-university-name">
                  Zaporizhzhya State Medical University
                </p>
              </li>
            </ul>
          </section>
          <section class="additional-info__languages">
            <h3 class="additional-info__languages-header">Languages</h3>
            <ul>
              <li>
                <p class="additional-info__languages-item">
                  Ukrainian (native)
                </p>
              </li>
              <li>
                <p class="additional-info__languages-item">
                  English (full professional proficiency)
                </p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
