<div class="container">
  <div class="resume__block">
    <section class="intro">
      <h3 class="visually-hidden">About</h3>
      <div class="intro__icon-wrapper">
        <i class="fa-solid fa-quote-left fa-lg" style="color: #ff9a00"></i>
      </div>
      <p class="intro_text">
        Responsible, creative, and up-to-date Frontend Developer for your
        productive and user-friendly applications.<br /><br />My values are:<br />✅
        working for the result,<br />✅ agile teamwork, <br />✅ empathy,<br />✅
        and an open-minded approach.
      </p>
    </section>
  </div>
</div>
