<div class="container">
  <div class="resume__block">
    <section class="skills">
      <h3 class="skills__header">Skills</h3>
      <ul class="skills__list">
        <li class="skills__item">React, Material UI / Chakra UI</li>
        <li class="skills__item">JavaScript ES6+, OOP, async</li>
        <li class="skills__item">TypeScript</li>
        <li class="skills__item">Redux, Redux Toolkit, RTK Query</li>
        <li class="skills__item">SCSS / SASS, CSS3</li>
        <li class="skills__item">semantic HTML5, BEM</li>
        <li class="skills__item">Git, GitHub, Webpack, Parcel</li>
        <li class="skills__item">Node.js, Express</li>
        <li class="skills__item">PostgreSQL</li>
        <li class="skills__item">Responsive and Accessable Web Design</li>
      </ul>
    </section>
  </div>
</div>
